<style>
.breadcrumb {
  display: flex;
  direction: ltr;
  list-style: none;
  padding: 0;
  margin: 0;
  li{
    margin-right: 8px;
    font-size: 14px;
    color: #555;
    display: inline-block;
    &:last-child {
      margin-right: 0;
      color: #aaa;
    }
  }
  a{
    text-decoration: none;
    color: inherit ;
  }
}
.content-header {
  padding: 16px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  .content-header-left {
    align-items: center;
  }
  .content-header-right {
    align-items: center;
    button {
      margin-left: 8px;
      border-radius: 10px;
    }
  }
}
.filter-form {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 16px;
  margin-bottom: 16px;
  margin-top: 16px;
  --mat-form-field-filled-container-color:white;
}
.text-filter {
  width: 100%;
  border-radius: 10px;
}
span.pill {
  background-color: #e0e0e0;
  color: #555;
  padding: 4px 12px;
  border-radius: 12px;
  margin-left: 4px;
  &.green {
    background-color: #EBF5CB;
  }
  &.blue {
    background-color: #D1EFFF;
  }
  &.violet {
    background-color: #E2D8FF;
  }
}
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #e0e0e0;
}

th {
  color: #666;
  font-weight: 500;
  background-color: #fafafa;
}

tr:hover {
  background-color: #f5f5f5;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}
</style>
<div class="content-header">
  <div class="content-header-left">
    <h1>Danh sách nhân viên</h1>
    <ul class="breadcrumb">
      <li>
        <a href="/dashboard">Dashboard</a>
      </li>
      <li>&#9679;</li>
      <li>Danh sách nhân viên</li>
    </ul>
  </div>
  <div class="content-header-right">
    <button matButton="tonal"><mat-icon>settings</mat-icon>Nhóm quyền</button>
    <button matButton="filled"><mat-icon>add</mat-icon>Thêm nhân viên</button>
    <button matButton="outlined"><mat-icon>invite</mat-icon>Mời nhân viên</button>
  </div>
</div>

<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>

<mat-card appearance="outlined" class="employee-list">
  <mat-card-header>
    <nav mat-tab-nav-bar [tabPanel]="tabPanel" mat-stretch-tabs="false">
      <a mat-tab-link (click)="filter.setValue('all')" [active]="filter.value =='all'">Tất cả <span class="pill green">{{getEmployeesByStatus('all')}}</span></a>
      <a mat-tab-link (click)="filter.setValue('active')" [active]="filter.value =='active'">Đang hoạt động <span class="pill blue">{{getEmployeesByStatus('active')}}</span></a>
      <a mat-tab-link (click)="filter.setValue('inactive')" [active]="filter.value =='inactive'">Dừng hoạt động <span class="pill violet">{{getEmployeesByStatus('inactive')}}</span></a>
    </nav>
  </mat-card-header>
  <mat-card-content>
    <form class="filter-form">
      <mat-form-field>
        <mat-label>Chức vụ</mat-label>
        <mat-select [formControl]="selectedPositions" placeholder="Chọn chức vụ" multiple="true">
          @for (position of positions; track $index) {
            <mat-option [value]="position">{{ position }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field class="text-filter">
        <mat-label>Tìm theo tên, email, số điện thoại</mat-label>
        <mat-icon matPrefix>search</mat-icon>
        <input matInput #textInput [formControl]="textFilter" placeholder="Nhập tên, email, số điện thoại"/>
      </mat-form-field>
    </form>
    
  </mat-card-content>
  <mat-card-content>
    <table>
      <tr>
        <th>STT</th>
        <th>Tên nhân viên</th>
        <th>Nhóm quyền</th>
        <th>Trạng thái</th>
        <th>Ngày thêm</th>
        <th></th>
      </tr>
      <!-- @for (employee of employees | filter: filter : selectedPositions.value : textFilter.value; track employee.id) { -->
      @for (employee of filteredEmployees | slice:(currentPage * rowsPerPage):(currentPage * rowsPerPage + rowsPerPage); track employee.id){
      <tr>
          <td>{{ employee.id }}</td>
          <td>{{ employee.name }}</td>
          <td>
            <span class="pill blue">{{ employee.position[0] }}</span>
            @if(toggleExpanded) {
              @for (pos of employee.position.slice(1); track $index) {
                <span class="pill blue">{{ pos }}</span>
              }
            } @else {
              @if(employee.position.length > 1) {
                <span class="pill blue">+{{ employee.position.length - 1 }}</span>
              }
            }
          </td>
          <td>
          <span class="pill" [class.green]="employee.active">
            {{ employee.active ? 'Đang hoạt động' : 'Dừng hoạt động' }}
          </span>
          </td>
          <td>{{ employee.joinDate | date: 'dd/MM/yyyy' }}</td>
          <td style="text-align: right;">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item >Sửa</button>
              <button mat-menu-item >Xoá</button>
              <button mat-menu-item >{{ employee.active ? 'Dừng hoạt động' : 'Kích hoạt' }}</button>
            </mat-menu>
          </td>
        </tr>
      }
    </table>
  </mat-card-content>
  <mat-card-footer>
    <div class="footer-container">
      <div>
        <mat-slide-toggle [(ngModel)]="toggleExpanded">
          <span>{{ toggleExpanded ? 'Mở rộng' : 'Thu gọn' }}</span>
        </mat-slide-toggle>
      </div>
      <mat-paginator [length]="filteredEmployees.length"
                [pageSize]="rowsPerPage"
                [pageSizeOptions]="[5, 10, 25, 100]"
                aria-label="Chọn trang"
                (page)="handlePageEvent($event)">
      </mat-paginator>
    </div>
  </mat-card-footer>
</mat-card>

<router-outlet />
